@media (max-width: 991px) {
    div.kf_content_wrap > div > section > div > div > div > div.col-md-9 > div.row > div > ul > li:nth-child(2),
    div.kf_content_wrap > div > section > div > div > div > div.col-md-9 > div.row > div > ul > li:nth-child(3),
    div.kf_content_wrap > div > section > div > div > div > div.col-md-9 > div.row > div > ul > li:nth-child(4),
    div.kf_content_wrap > div > section > div > div > div > div.col-md-9 > div.row > div > ul > li:nth-child(5),
    div.kf_content_wrap > div > section > div > div > div > div.col-md-9 > div.row > div > ul > li:nth-child(6),
    div.kf_content_wrap > div > section > div > div > div > div.col-md-9 > div.row > div > ul > li:nth-child(7) {
        display:none;
    }
    #header_2 .top_bar_2 .container .row div:first-child {
        display:initial;
    }
    #header_2 .top_bar_2 .container .row div.col-md-5 {
        width:40%;
        float:left;
    }
    #header_2 .top_bar_2 .container .row div.col-md-7 {
        width:55%;
    }
    .lng_wrap {
        display:none !important;
    }
    .kf_courses_tabs .nav-tabs > li {
        width: 50%;
    }
    .contct_wrap {
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    }
    div.col-md-3.navbar {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
    }
    footer div.container div.row div.col-md-3 {
        width:50%;
        float:left;
    }
    body > div.kode_wrapper > footer > div > div > div:nth-child(2) {display:none}
    body > div.kode_wrapper > footer > div > div > div:nth-child(3) {display:none}
}

@media (max-width: 767px) {
    .owl-pagination {
        display:none;
    }
}

@media (max-width: 480px) {
    #header_2 .top_bar_2 .container .row div.col-md-5 {
        width:initial;
    }
    .kf_courses_tabs .nav-tabs > li {
        width: 100%;
    }
    .owl-pagination {
        display:none;
    }
    footer div.container div.row div.col-md-3 {
        width:100%;
    }

}

.wiget-instagram ul li img {
    width: 100%;
    height: 60px;
}

.edu2_faculty_des:hover figure:before {
    opacity: 0;
}

nav {
    float:right;
}

nav.pagination li {
    display:inline;
}

nav.pagination li.active span {
    background-color: #e79800;
    color: #fff;
}

nav.pagination li a, nav.pagination li span {
    border-radius: 0px;
    padding: 6px 12px;
    line-height: 1.42857;
    width: auto;
    height: auto;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    color: #333333;
    float: left;
    margin-left: 5px;
}

nav.pagination li a:hover {
    color: #fff;
    background-color: #e79800;
}

.widget-links ul li a {
    padding: 5px 0px 0px 15px;
}

.kf_courses_tabs .nav-tabs > li > a {
    padding: 15px 15px;
}

.edu2_main_bn_wrap .owl-theme .owl-pagination {
    bottom: 20px;
    left:85%;
}

ul.main-menu li.selected{
    background-color:rgba(231, 152, 0, 0.25);
    border-radius:10px;
}

ul.main-menu li a:hover{
    border-radius:10px;
}

tr > td, tr > th {
    border-color:#aaa !important;
}

thead tr{
    background-color:#9cf;
}

tr.even {
    background-color:#fd8;
}

.glyphicon {
    display: none !important;
}

.bread_mid:before{
    content: "\f101";
    font-family: FontAwesome;
    margin-right: 10px;
    margin-left: 10px;
}

section{
    padding:25px 0px 25px 0px;
}

.breadcrumb{
    padding-bottom:5px;
    margin-bottom:5px;
}

.breadcrumb ul li a{
    float: left;
    padding:initail;
}

div.kf_content_wrap{
}

.edu2_ft_topbar_des form input[type=text]{
        float: left;
        width: 100%;
        border:1px solid #fff;
        padding:7px 125px 7px 15px;
        color: #fff;  
        font-size: 16px;
        text-transform: capitalize;
        background-color: transparent;
        height: 50px;
        font-size: 14px !important;
        box-shadow: none;
}

.edu2_ft_topbar_des form input[type="text"]:focus{
        border-color: #fff !important;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3)
}

ul.navTree li.navTreeItem a:before {
    content:"\f0da";
    font-family:FontAwesome;
    margin-right: 10px;
}

.edu2_main_bn_wrap figure figcaption {
    right: 60%;
    top: 35%;
}

.edu2_main_bn_wrap figure:before {
    opacity: 0.125;
}

p a {
    color: #841;
}

#edit-zone {
    z-index: 15;
}

.lng_wrap button {
    padding: 11px 15px;
}

// Google font, setting chinese font
.kf_edu2_tab_wrap .nav-tabs > li > a {
    font-family: 'Noto Sans TC', 'Ubuntu', sans-serif;
}

.edu2_pricing_des span h3{
        font-family: 'Noto Sans TC', 'Ubuntu', sans-serif;
}
.edu2_pricing_des ul li a{
        font-family: 'Noto Sans TC', 'Ubuntu', sans-serif;
}
.edu2_blogpg_des ul li{
        font-family: 'Noto Sans TC', 'Open Sans', sans-serif;
}
.blog_3_sidebar a {
    font-family: 'Noto Sans TC', 'Source Sans Pro', sans-serif;
}
.comment_des_hed cite a{
        font-family: 'Noto Sans TC', 'Roboto Slab', serif;
}
.inputs_des.des_2 > span {
        font-family: 'Noto Sans TC', "Raleway",sans-serif;
}
.inputs_des.des_3 > span {
        font-family: 'Noto Sans TC', "Raleway",sans-serif;
}
.edu_masonery_thumb .caption a{
        font-family: 'Noto Sans TC', 'Roboto Slab', serif;
}

#register .nav-tabs > li a{
        font-family: 'Noto Sans TC', 'Droid Sans', sans-serif;
}
